<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body class="p-5">
<div id="app" class="p-40">
        <div class="badge badge-success">{{sayi}}</div>
</div>

<script src="../assets/js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        name: 'Uzaktan Kurs',
        data: {

            sayi:5
        },
        created()
        {
            console.log('Instance oluşturuldu');
        },
        mounted()
        {
            console.log('DOM a eklendi');
            this.sayi=Math.floor(Math.random()* 49)+1;


        },
        updated()
        {
            console.log('DOM güncellendi')
        },
        destroyed()
        {
            console.log("Instance silindi")

        }

    })
    app.$destroy();
</script>
</body>
</html>
