<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body class="p-5">
<div id="app">
<p><a v-bind:href="linkSite" v-bind:title="linkAciklama">Uzaktan Kurs</a></p>
    <p><a :href="linkSite" :title="linkAciklama">Uzaktan Kurs</a></p>
    <div :id="'KursId_'+5">Kurs {{id}}</div>
</div>

<script src="../assets/js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        name: 'Uzaktan Kurs',
        data: {

           linkSite:'http://www.uzaktankurs.com',
            linkAciklama:'Uzaktan Kurs',
            id:12
        }
    })
</script>
</body>
</html>
