<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body class="p-5">
<div id="app">

   <div class="form-group row">


       <label for="isim" class="col-sm-2" >İsim</label>

       <div class="col-sm-10">
           <input type="text" id="isim" v-model="kullanici.isim" :class="{
           'form-control is-valid':kullanici.isim, 'form-control is-invalid':!kullanici.isim}">
           <span>{{kullanici.isim.length}}</span>
       </div>

       <div class="col-12">
           <button type="button"  v-model="kullanici.rol" class=" btn btn-lg"
           :class="{'badge badge-success':kullanici.rol =='Admin', 'badge badge-warning':kullanici.rol == 'User' }">{{ kullanici.rol}}</button>
       </div>
   </div>

</div>

<script src="../assets/js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        name: 'Uzaktan Kurs',
        data: {
            kullanici:{
                id:1,
                isim:"Senel",
                rol:"Admin"
            }
        }
    })
</script>
</body>
</html>
